*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

.cabecalho{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(185, 63, 63);
    padding: 30px 60px;
}
.cabecalho ul{

    display: flex;
    gap: 20px;
}
.cabecalho a{
    color: aliceblue;
}

